p {
  margin: 0;
}


.pageBackground {
  background-image: url('/images/Casino_Banner.png');
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  height: 395px;
  max-height: 700px;
  position: absolute;
  width: 100vw;
  z-index: -1;
}

.tester{
  display: none;
}

.pageBackground::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    
    /* Layer 1: The Green Glow (Top-Right)
       - Using 187deg as requested.
       - Fading to rgba(0, 255, 8, 0) keeps the green "pure" as it fades.
       
       Layer 2: The Bottom Black Fade
       - Fading from Solid Black to Transparent Black (not white).
    */
    background: 
        linear-gradient(187deg, rgba(0, 255, 8, 0.20) 0%, rgba(0, 255, 8, 0) 47%),
        linear-gradient(0deg, rgba(17, 17, 17, 1) 0%, rgba(255, 255, 255, 0) 85%);
        
    pointer-events: none;
}